In [90]:
library(tidyverse)
library(ggplot2)

In [92]:
incomedata <- read_csv("adult.data")

colnames(incomedata) <- c("age","workclass","finalweight","education","numyearseducation","marital-status","occupation","relationship",
                         "race","sex","capital_gain","capital_loss","hours_per_week","native_country","income_above_50K")
                        
incomedata[incomedata == "?"] <- "NA"
head(incomedata, 10)

Rows: 32560 Columns: 15
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): State-gov, Bachelors, Never-married, Adm-clerical, Not-in-family, W...
dbl (6): 39, 77516, 13, 2174, 0, 40

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

   age workclass        finalweight education    numyearseducation
1  50  Self-emp-not-inc  83311      Bachelors    13
2  38  Private          215646      HS-grad       9
3  53  Private          234721      11th          7
4  28  Private          338409      Bachelors    13
5  37  Private          284582      Masters      14
6  49  Private          160187      9th           5
7  52  Self-emp-not-inc 209642      HS-grad       9
8  31  Private           45781      Masters      14
9  42  Private          159449      Bachelors    13
10 37  Private          280464      Some-college 10
   marital-status        occupation        relationship  race  sex
1  Married-civ-spouse    Exec-managerial   Husband       White Male
2  Divorced              Handlers-cleaners Not-in-family White Male
3  Married-civ-spouse    Handlers-cleaners Husband       Black Male
4  Married-civ-spouse    Prof-specialty    Wife          Black Female
5  Married-civ-spouse    Exec-managerial   Wife          White Female
6  Married-spouse-absent Other-service     Not-in-family Black Female
7  Married-civ-spouse    Exec-managerial   Husband       White Male
8  Never-married         Prof-specialty    Not-in-family White Female
9  Married-civ-spouse    Exec-managerial   Husband       White Male
10 Married-civ-spouse    Exec-managerial   Husband       Black Male
   capital_gain capital_loss hours_per_week native_country income_above_50K
1      0        0            13             United-States  <=50K
2      0        0            40             United-States  <=50K
3      0        0            40             United-States  <=50K
4      0        0            40             Cuba           <=50K
5      0        0            40             United-States  <=50K
6      0        0            16             Jamaica        <=50K
7      0        0            45             United-States  >50K
8  14084        0            50             United-States  >50K
9   5178        0            40             United-States  >50K
10     0        0            80             United-States  >50K

In [93]:
# change income_above_50K column to boolean

income_data["income_above_50K"][income_data["income_above_50K"] == ">50K"] <- "False"
income_data["income_above_50K"][income_data["income_above_50K"] == "<=50K"] <- "True"

head(income_data, 10)

   age workclass finalweight education numyearseducation marital_status
1  50  7          83311      10        13                3
2  38  5         215646      12         9                1
3  53  5         234721       2         7                3
4  28  5         338409      10        13                3
5  37  5         284582      13        14                3
6  49  5         160187       7         5                4
7  52  7         209642      12         9                3
8  31  5          45781      13        14                5
9  42  5         159449      10        13                3
10 37  5         280464      16        10                3
   occupation relationship race sex capital_gain capital_loss hours_per_week
1   5         1            5    2       0        0            13
2   7         2            5    2       0        0            40
3   7         1            3    2       0        0            40
4  11         6            3    1       0        0            40
5   5         6            5    1       0        0            40
6   9         2            3    1       0        0            16
7   5         1            5    2       0        0            45
8  11         2            5    1   14084        0            50
9   5         1            5    2    5178        0            40
10  5         1            3    2       0        0            80
   native_country income_above_50K
1  40             2
2  40             2
3  40             2
4   6             2
5  40             2
6  24             2
7  40             1
8  40             1
9  40             1
10 40             1

In [94]:
# Examine the summary of income_data
summary(income_data)

      age          workclass      finalweight        education
 Min.   :17.00   Min.   :1.000   Min.   :  12285   Min.   : 1.0
 1st Qu.:28.00   1st Qu.:5.000   1st Qu.: 117832   1st Qu.:10.0
 Median :37.00   Median :5.000   Median : 178363   Median :12.0
 Mean   :38.58   Mean   :4.869   Mean   : 189782   Mean   :11.3
 3rd Qu.:48.00   3rd Qu.:5.000   3rd Qu.: 237054   3rd Qu.:13.0
 Max.   :90.00   Max.   :9.000   Max.   :1484705   Max.   :16.0
 numyearseducation marital_status    occupation      relationship
 Min.   : 1.00     Min.   :1.000   Min.   : 1.000   Min.   :1.000
 1st Qu.: 9.00     1st Qu.:3.000   1st Qu.: 4.000   1st Qu.:1.000
 Median :10.00     Median :3.000   Median : 8.000   Median :2.000
 Mean   :10.08     Mean   :3.612   Mean   : 7.573   Mean   :2.446
 3rd Qu.:12.00     3rd Qu.:5.000   3rd Qu.:11.000   3rd Qu.:4.000
 Max.   :16.00     Max.   :7.000   Max.   :15.000   Max.   :6.000
      race            sex         capital_gain    capital_loss
 Min.   :1.000   Min.   :1.000   Min.   :    0   Min.   :   0.00
 1st Qu.:5.000   1st Qu.:1.000   1st Qu.:    0   1st Qu.:   0.00
 Median :5.000   Median :2.000   Median :    0   Median :   0.00
 Mean   :4.666   Mean   :1.669   Mean   : 1078   Mean   :  87.31
 3rd Qu.:5.000   3rd Qu.:2.000   3rd Qu.:    0   3rd Qu.:   0.00
 Max.   :5.000   Max.   :2.000   Max.   :99999   Max.   :4356.00
 hours_per_week  native_country  income_above_50K
 Min.   : 1.00   Min.   : 1.00   Min.   :1.000
 1st Qu.:40.00   1st Qu.:40.00   1st Qu.:2.000
 Median :40.00   Median :40.00   Median :2.000
 Mean   :40.44   Mean   :37.72   Mean   :1.759
 3rd Qu.:45.00   3rd Qu.:40.00   3rd Qu.:2.000
 Max.   :99.00   Max.   :42.00   Max.   :2.000

In [95]:
# find data dimnesions
data_dimensions <- dim(income_data)
data_dimensions

[1] 32560    15

In [96]:
# find variable names
names(income_data)

 [1] "age"               "workclass"         "finalweight"
 [4] "education"         "numyearseducation" "marital_status"
 [7] "occupation"        "relationship"      "race"
[10] "sex"               "capital_gain"      "capital_loss"
[13] "hours_per_week"    "native_country"    "income_above_50K"

In [97]:
# find the class of each variable
lapply(income_data, class)

$age
[1] "numeric"

$workclass
[1] "numeric"

$finalweight
[1] "numeric"

$education
[1] "numeric"

$numyearseducation
[1] "numeric"

$marital_status
[1] "numeric"

$occupation
[1] "numeric"

$relationship
[1] "numeric"

$race
[1] "numeric"

$sex
[1] "numeric"

$capital_gain
[1] "numeric"

$capital_loss
[1] "numeric"

$hours_per_week
[1] "numeric"

$native_country
[1] "numeric"

$income_above_50K
[1] "numeric"

In [99]:
# create vectors of categorical data

workclass_vector <- income_data$workclass
education_vector <- income_data$education
marital_status_vector <- income_data$marital_status
occupation_vector <- income_data$occupation
relationship_vector <- income_data$relationship
race_vector <- income_data$race
sex_vector <- income_data$sex
native_country_vector <- income_data$native_country
income_above_50K_vector <- income_data$income_above_50K

In [100]:
# Find all types of response in income_above_50K_vector
income_above_50K_count <- as.data.frame(table(income_above_50K_vector))
income_above_50K_count
nrow(income_above_50K_count)

  income_above_50K_vector Freq
1 1                        7841
2 2                       24719

[1] 2

In [101]:
# Find all types of response in native_country_vector
native_country_count <- as.data.frame(table(native_country_vector))
native_country_count
nrow(native_country_count)

   native_country_vector Freq
1  1                       583
2  2                        19
3  3                       121
4  4                        75
5  5                        59
6  6                        95
7  7                        70
8  8                        28
9  9                       106
10 10                       90
11 11                       29
12 12                      137
13 13                       29
14 14                       64
15 15                       44
16 16                        1
17 17                       13
18 18                       20
19 19                       13
20 20                      100
21 21                       43
22 22                       24
23 23                       73
24 24                       81
25 25                       62
26 26                       18
27 27                      643
28 28                       34
29 29                       14
30 30                       31
31 31                      198
32 32                       60
33 33                       37
34 34                      114
35 35                       12
36 36                       80
37 37                       51
38 38                       18
39 39                       19
40 40                    29169
41 41                       67
42 42                       16

[1] 42

In [102]:
# Find all types of response in education_vector
education_count <- as.data.frame(table(education_vector))
education_count
nrow(education_count)

   education_vector Freq
1  1                  933
2  2                 1175
3  3                  433
4  4                  168
5  5                  333
6  6                  646
7  7                  514
8  8                 1067
9  9                 1382
10 10                5354
11 11                 413
12 12               10501
13 13                1723
14 14                  51
15 15                 576
16 16                7291

[1] 16

In [103]:
# Find all types of response in sex_vector
sex_count <- as.data.frame(table(sex_vector))
sex_count
nrow(sex_count)

  sex_vector Freq
1 1          10771
2 2          21789

[1] 2

In [104]:
# Find all types of response in race_vector
race_count <- as.data.frame(table(race_vector))
race_count
nrow(race_count)

  race_vector Freq
1 1             311
2 2            1039
3 3            3124
4 4             271
5 5           27815

[1] 5

In [105]:
# Find all types of response in relationship_vector
relationship_count <- as.data.frame(table(relationship_vector))
relationship_count
nrow(relationship_count)

  relationship_vector Freq
1 1                   13193
2 2                    8304
3 3                     981
4 4                    5068
5 5                    3446
6 6                    1568

[1] 6

In [106]:
# Find all types of response in workclass_vector
workclass_count <- as.data.frame(table(workclass_vector))
workclass_count
nrow(workclass_count)

  workclass_vector Freq
1 1                 1836
2 2                  960
3 3                 2093
4 4                    7
5 5                22696
6 6                 1116
7 7                 2541
8 8                 1297
9 9                   14

[1] 9

In [107]:
# Find all types of response in marital_status_vector
marital_status_count <- as.data.frame(table(marital_status_vector))
marital_status_count
nrow(marital_status_count)

  marital_status_vector Freq
1 1                      4443
2 2                        23
3 3                     14976
4 4                       418
5 5                     10682
6 6                      1025
7 7                       993

[1] 7

In [108]:
# Find all types of response in occupation_vector
occupation_count <- as.data.frame(table(occupation_vector))
occupation_count
nrow(occupation_count)

   occupation_vector Freq
1  1                 1843
2  2                 3769
3  3                    9
4  4                 4099
5  5                 4066
6  6                  994
7  7                 1370
8  8                 2002
9  9                 3295
10 10                 149
11 11                4140
12 12                 649
13 13                3650
14 14                 928
15 15                1597

[1] 15

In [109]:
# convert character variables to numeric variables

income_data$marital_status <- as.numeric(factor(income_data$marital_status))

income_data$workclass <- as.numeric(factor(income_data$workclass))

income_data$education <- as.numeric(factor(income_data$education))

income_data$income_above_50K <- as.numeric(factor(income_data$income_above_50K))

income_data$occupation <- as.numeric(factor(income_data$occupation))

income_data$sex <- as.numeric(factor(income_data$sex))

income_data$race <- as.numeric(factor(income_data$race))

income_data$relationship <- as.numeric(factor(income_data$relationship))

income_data$native_country <- as.numeric(factor(income_data$native_country))

In [111]:
# correlation matrix for all variables
cor_matrix <- cor(income_data)
cor_matrix

                  age          workclass    finalweight   education
age                1.000000000  0.003785596 -0.0766461986 -0.01050798
workclass          0.003785596  1.000000000 -0.0165868330  0.02353705
finalweight       -0.076646199 -0.016586833  1.0000000000 -0.02815609
education         -0.010507984  0.023537053 -0.0281560867  1.00000000
numyearseducation  0.036526843  0.052014797 -0.0431591683  0.35917236
marital_status    -0.266292368 -0.064797564  0.0281840849 -0.03839799
occupation        -0.020946343  0.255003772  0.0015536461 -0.02127380
relationship      -0.263697641 -0.090449252  0.0089222292 -0.01087900
race               0.028718079  0.049719722 -0.0212782028  0.01413536
sex                0.088831745  0.095941940  0.0268816830 -0.02734925
capital_gain       0.077674386  0.033827688  0.0004367429  0.03004747
capital_loss       0.057774786  0.012230708 -0.0102589747  0.01674404
hours_per_week     0.068755743  0.138974368 -0.0187699744  0.05550996
native_country    -0.001151309 -0.007709765 -0.0519572134  0.06429118
income_above_50K  -0.234038777 -0.051645392  0.0094811657 -0.07931133
                  numyearseducation marital_status occupation   relationship
age                0.03652684       -0.266292368   -0.020946343 -0.263697641
workclass          0.05201480       -0.064797564    0.255003772 -0.090449252
finalweight       -0.04315917        0.028184085    0.001553646  0.008922229
education          0.35917236       -0.038397991   -0.021273799 -0.010878996
numyearseducation  1.00000000       -0.069338484    0.109748404 -0.094145377
marital_status    -0.06933848        1.000000000   -0.009616849  0.185461472
occupation         0.10974840       -0.009616849    1.000000000 -0.075620372
relationship      -0.09414538        0.185461472   -0.075620372  1.000000000
race               0.03182538       -0.068025254    0.006779137 -0.116051651
sex                0.01225589       -0.129337037    0.080327650 -0.582452803
capital_gain       0.12262741       -0.043398252    0.025511228 -0.057918272
capital_loss       0.07993215       -0.034181706    0.017978797 -0.061064163
hours_per_week     0.14812690       -0.190520920    0.080384169 -0.248975076
native_country     0.05083088       -0.023827433   -0.012531504 -0.005504320
income_above_50K  -0.33518184        0.199294638   -0.075447783  0.250924467
                  race         sex          capital_gain  capital_loss
age                0.028718079  0.088831745  0.0776743857  0.057774786
workclass          0.049719722  0.095941940  0.0338276883  0.012230708
finalweight       -0.021278203  0.026881683  0.0004367429 -0.010258975
education          0.014135362 -0.027349250  0.0300474720  0.016744041
numyearseducation  0.031825380  0.012255887  0.1226274073  0.079932146
marital_status    -0.068025254 -0.129337037 -0.0433982519 -0.034181706
occupation         0.006779137  0.080327650  0.0255112283  0.017978797
relationship      -0.116051651 -0.582452803 -0.0579182718 -0.061064163
race               1.000000000  0.087196670  0.0111430359  0.018901679
sex                0.087196670  1.000000000  0.0484768257  0.045572412
capital_gain       0.011143036  0.048476826  1.0000000000 -0.031614109
capital_loss       0.018901679  0.045572412 -0.0316141086  1.000000000
hours_per_week     0.041910082  0.229311659  0.0784088050  0.054256167
native_country     0.137848876 -0.008125089 -0.0019835275  0.000420478
income_above_50K  -0.071852942 -0.215995003 -0.2233325494 -0.150523406
                  hours_per_week native_country income_above_50K
age                0.068755743   -0.001151309   -0.234038777
workclass          0.138974368   -0.007709765   -0.051645392
finalweight       -0.018769974   -0.051957213    0.009481166
education          0.055509958    0.064291178   -0.079311330
numyearseducation  0.148126899    0.050830878   -0.335181841
marital_status    -0.190520920   -0.023827433    0.199294638
occupation         0.080384169   -0.012531504   -0.075447783
relationship      -0.248975076   -0.005504320    0.250924467
race               0.041910082    0.137848876   -0.071852942
sex                0.229311659   -0.008125089   -0.215995003
capital_gain       0.078408805   -0.001983527   -0.223332549
capital_loss       0.054256167    0.000420478   -0.150523406
hours_per_week     1.000000000   -0.002670728   -0.229689576
native_country    -0.002670728    1.000000000   -0.015845404
income_above_50K  -0.229689576   -0.015845404    1.000000000

In [ ]:
# native country, education, workclass, occupation have too many levels and will therfore not be included in the predictive model
# marital_status and relationship are quite similar, but marital_status has one more level than relationship and one of the levels has a low frequency count, sowe will use only relationship
# capital gain, capital loss, finalweight are not metrics that align meaningfully with our research goals

In [ ]:
# Next, we will perform forward selection to help with our feature selection for predicting icome_above_50K of the remaining pool of variables:
# Age, numyearseducation, relationship, race, sex, hours_per_week

In [ ]:
# forward selection